# Maven build output
/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDEs
.idea/
*.iml
*.iws
*.ipr
.vscode/
.classpath
.project
.settings/
.springBeans
.sts4-cache
.nb-gradle/

# Logs and temp files
*.log
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

# JaCoCo coverage files
jacoco.exec
*.ec
*.html
*.xml
*.csv
